.item-container{
    padding: 20px;
    flex: 0 0 70%;
}
.checkout-cont {
    display: flex;
    align-items: center;
}
.totalprice{
    text-align: center;
}
.paymentSection{
    text-align: center;
}
.enquirySection{
    text-align: end;
}
.distance-section {
    flex: 0 0 10%;
}